// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

h1#title{
  font-size:5em;
  margin-left: 2.2em;
}
input[type=text] {
  width: 70%;
  padding: 29px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-bottom: 3px solid;
  border-radius: 4px;
  font-size: 5.2em;
}
.barcode{
  height: 160px;
  width: 140px;
  margin-right: 3px;
  border-radius: 5px;
}
.form-class{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.flash{
  margin-left: 6.6em;
  width: 70%;
  padding: 4px; 
}
.alert{
  background-color: red;
}
.notice{
  background-color: green;
}